Source: ttymidi
Section: sound
Priority: optional
Maintainer: Ludovic Drolez <ldrolez@debian.org>
Build-Depends: debhelper-compat (= 13), libasound2-dev, cmake (>= 3.13)
Standards-Version: 4.5.1
Homepage: https://github.com/ldrolez/ttymidi-sysex
Rules-Requires-Root: no

Package: ttymidi-rpi
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Raspberry serial MIDI shield support for Alsa
 If you have a serial MIDI shield for your Raspberry PI
 this package will configure the ttymidi daemon to link
 the MIDI ports to Alsa. It will also configure boot options
 to enable the Raspberry serial port properly.
